.QuestionsAreaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--Black-5);
}

.Answers {
    display: flex;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .QuestionsAreaContainer {
        flex-basis: 90%;
        width: 100%;
        min-height: calc(100vh - 40px);
    }

    .Question {
        flex-basis: 25%;
        text-align: center;
        font-size: 1rem;
    }

    .Question h1 {
        font-size: 1.2rem;
    }

    .Answers {
        flex-basis: 70%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .Answers .button {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem
    }

    .Answers .button:last-child {
        margin-bottom: 0rem
    } 

    .Answers .button:before, .button:after {
        width: 90%;
        left: 5%;
        height:27px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {

    .QuestionsAreaContainer {
        flex-basis: 90%;
        width: 100%;
        min-height: 100vh;
    }

    .Question {
        flex-basis: 25%;
        text-align: center;
    }

    .Question h1 {
        font-size: 2rem;
    }

    .Answers {
        flex-basis: 70%;
        align-items: center;
        width: 100%;
    }

    .Answers .button {
        flex-basis: 50%;
        text-align: center;
        margin-bottom: 1rem
    }

    .Answers .button:last-child {
        margin-bottom: 0rem
    } 

    .Answers .button:before, .button:after {
        width: 90%;
        left: 5%;
        height:27px;
    }
}

@media screen and (min-width: 1024px) {
    .QuestionsAreaContainer {
        flex-basis: 70%;
        min-height: 100vh;
    }

    .Question {
        flex-basis: 25%;
        text-align: center;
    }

    .Question h1 {
        font-size: 2rem;
    }

    .Answers {
        flex-basis: 70%;
        flex-flow: wrap;
        align-items: center;
        width: 100%;
    }

    .Answers .button {
        flex-basis: 50%;
        text-align: center;
    }

    .Answers .button:nth-child(-n+2) {
        margin-bottom: 1rem
    } 

    .Answers .button:before, .button:after {
        width: 90%;
        left: 5%;
        height:27px;
    }
}